[Unit]
Description=InPulse attendance service pulse
After=syslog.target network.target

[Service]
WorkingDirectory=/home/ubuntu/attendance-service-pulse/
ExecStart=/usr/bin/node /home/ubuntu/attendance-service-pulse/index.js
User=root
Group=root

[Install]
WantedBy=multi-user.target